<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/base_styles.css">
	<link rel="stylesheet" href="/stylesheets/owner_views_styles/owner_list.css">
	<link rel="stylesheet" href="/stylesheets/car_views_styles/car_details.css">

	<title>Owner List</title>
</head>

<body>
	<header>
		<h1>Owner List</h1>
	</header>
	<div class="table-container">
		<table>
			<thead>
				<tr>
					<th>Full Name</th>
					<th>Address</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% owners.forEach(owner=> { %>
					<tr class="owner-item" onclick="window.location.href='/owners/<%= owner._id %>'">
						<td class="owner-details">
							<strong>
								<%= owner.fullName %>
							</strong>
						</td>
						<td class="owner-details">
							<%= owner.address %>
						</td>
						<td class="owner-actions">
							<a href="/owners/<%= owner._id %>/edit" class="edit-button">Edit</a>
							<form action="/owners/<%= owner._id %>?_method=DELETE" method="POST" style="display:inline;">
								<button type="submit" class="delete-button">Delete</button>
							</form>
						</td>
					</tr>
					<% }) %>

						<tr>
							<td colspan="3" class="add-new-owner">
								<a href="/owners/new" class="add-button">Add New Owner</a>
							</td>
						</tr>
			</tbody>
		</table>
	</div>
	<a href="/" class="back-button">Back to Main Page</a>
	<footer>
		<p>&copy; 2024 Vehicle Fleet Management System</p>
	</footer>
</body>

</html>