<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Vehicle Fleet Management System - <%= owner && owner._id ? 'Edit' : 'Add' %> Owner</title>
	<link rel="stylesheet" href="/stylesheets/base_styles.css">
	<link rel="stylesheet" href="/stylesheets/owner_views_styles/owner_form.css">
</head>

<body>
	<header>
		<h1>
			<%= owner && owner._id ? 'Edit' : 'Add' %> Owner
		</h1>
	</header>
	<main>
		<% if (errors && errors.length> 0) { %>
			<div class="error-messages">
				<% errors.forEach(error=> { %>
					<p>
						<%= error.msg %>
					</p>
					<% }) %>
			</div>
			<% } %>

				<form action="<%= owner && owner._id ? '/owners/' + owner._id + '?_method=PUT' : '/owners' %>"
					method="POST">
					<div>
						<label for="fullName">Full Name:</label>
						<input type="text" id="fullName" name="fullName" value="<%= owner?.fullName || '' %>" required>
					</div>
					<div>
						<label for="address">Address:</label>
						<input type="text" id="address" name="address" value="<%= owner?.address || '' %>" required>
					</div>

					<button type="submit" class="update-button">
						<%= owner && owner._id ? 'Update' : 'Create' %>
					</button>
				</form>
	</main>
	<a href="/owners" class="back-button">Back to list</a>
	<footer>
		<p>&copy; 2024 Vehicle Fleet Management System</p>
	</footer>
</body>

</html>